@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./main.css");
@import url("./aside.css");
@import url("./containers_and_frames.css");
@import url("./buttons.css");
@import url("./creteJsClass.css");

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    display:grid;
    grid-template-rows: repeat(3,3fr);
    width:100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor:url("../../src/assets/cursor/yugicursor.png"),default;

}
button, a,img:hover, button:hover,a:hover{
    cursor:url("../../src/assets/cursor/yamiyugicursorGLOW.png"),auto;
}



